{
    "presets": ["es2015", "stage-0", "react", "jest"],
    "plugins": ["transform-decorators-legacy", "add-module-exports"],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        },
        "test": {
        }
    }
}
