{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "jasmine": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "accessor-pairs": [1],
        "arrow-spacing": 2,
        "block-scoped-var": [2],
        "comma-dangle": [1],
        "comma-spacing": [2],
        "consistent-return": [0],
        "curly": [0],
        "dot-location": [0],
        "dot-notation": [1],
        "eqeqeq": [1],
        "prefer-const": 1,
        "default-case": [1],
        "guard-for-in": [1],
        "no-alert": [2],
        "no-caller": [2],
        "no-case-declarations": [1],
        "no-console": 1,
        "no-div-regex": [2],
        "no-dupe-keys": [2],
        "no-else-return": [1],
        "no-empty-pattern": [2],
        "no-eq-null": [2],
        "no-eval": [2],
        "no-extend-native": [2],
        "no-extra-bind": [2],
        "no-extra-boolean-cast": [1],
        "no-floating-decimal": [1],
        "no-implicit-coercion": [1],
        "no-implied-eval": [2],
        "no-inner-declarations": [0],
        "no-invalid-this": [2],
        "no-iterator": [2],
        "no-labels": [2],
        "no-lone-blocks": [2],
        "no-loop-func": [2],
        "no-magic-numbers": [0],
        "no-multi-spaces": [1],
        "no-multi-str": [2],
        "no-native-reassign": [2],
        "no-new-func": [2],
        "no-new-wrappers": [2],
        "no-new": [2],
        "no-param-reassign": [1],
        "no-process-env": [0],
        "no-proto": [2],
        "no-redeclare": [1],
        "no-return-assign": [2],
        "no-script-url": [2],
        "no-self-compare": [2],
        "no-sequences": [2],
        "no-throw-literal": [2],
        "no-trailing-spaces": [2],
        "no-unused-expressions": [2],
        "no-useless-call": [1],
        "no-useless-concat": [2],
        "no-warning-comments": [0],
        "no-with": [2],
        "radix": [2],
        "vars-on-top": [0],
        "wrap-iife": [1],
        "yoda": [2],
        "key-spacing": [1],
        "max-len": ["error", 120, 4, {
            ignoreUrls: true
        }],
        "new-cap": [0],
        "no-shadow": [1],
        "no-undefined": [1],
        "no-underscore-dangle": [0],
        "no-unused-vars": [1],
        "no-use-before-define": [2, "nofunc"],
        "semi": [2, "always"],
        "quotes": [2, "single", {
            avoidEscape: true
        }],
        "valid-jsdoc": [1],
        "react/jsx-closing-bracket-location": [1, "line-aligned"],
        "jsx-quotes": [2, "prefer-double"],
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-direct-mutation-state": 2,
        "react/no-is-mounted": 2,
        "react/no-unknown-property": 2,
        "react/prop-types": 1,
        "react/no-deprecated": 2,
        "react/no-did-update-set-state": 2,
        "react/prefer-es6-class": [1, "always"],
        "import/no-unresolved": 0,
        "import/named": 0,
        "import/namespace": 0,
        "import/export": 2,
        "import/no-named-as-default": 2,
        "import/no-duplicates": 2,
        "keyword-spacing": 2,
        "space-before-blocks": 2,
        "space-infix-ops": 2,
        "spaced-comment": [2, "always", {
            "block": {
                exceptions: ["*"]
            }
        }],
        "space-in-parens": [2, "never"]
    },
    "globals": {
        "jest": true
    },
    "plugins": [
        "react",
        "import"
    ],
    "settings": {
        "react": {
            "version": "0.14.3"
        }
    }
}
