/* SQL token highlighting */
.hljs-keyword,
.hljs-selector-tag {
    color: #ab63fa;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
    color: #00cc96;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
    color: #119DFF;
}

.hljs {
    color: #585260;
}

/* custom ReactDataGrid styles for scheduled queries table */
.scheduler-table .react-grid-Row--odd .react-grid-Cell {
    background: #fff;
}

.scheduler-table .react-grid-Row {
    border-top: 1px solid #c8d4e3;
    cursor: pointer;
}

.scheduler-table .react-grid-Row:first-child {
    border-top: none;
}

.sql-preview pre {
    white-space: pre-wrap;
}
