
.containerWrapper {
	width: 100%;
}

.container {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.tabsContainer {
    text-align: center;
}

.openTab {
    background: white;
    border-width: 0px 1px 1px 1px;
    border-color: #E7E8E9;
    border-style: solid;
}

.configurationContainer {
	width: 100%;
	text-align: center;
}

.stepTitleContainer {
    padding: 20px 30px 0px 30px;
    text-transform: capitalize;
}

.stepTitle {
    border-bottom: 1px solid #E7E8E9;
    cursor: pointer;
}

.disabledSection {
    pointer-events: none;
    opacity: 0.4;
}

.info {
	padding: 25px;
    font-size: 14px;
}

.userConnections {
	margin-left: auto;
	margin-right: auto;
}

.dialectSelector {
	display: inline-block;
}

.previewController {
	max-height: 500px;
	max-width: 100%;
	overflow-y: scroll;
    border: 1px solid #BEC8D9;
	border-radius: 3px;
	padding: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

.logContainer {
    max-height: 300px;
	margin-top: 40px;
}

.log {
	margin-bottom: 100px;
}

.unfoldIcon {
    height: 18px;
    width: 18px;
    padding-left: 10px;
}
