.containerWrapper {
	width: 100%;
}

.container {
	width: 100%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.configurationOptions {
	width: 100%;
}

.workspace {
	height: 60%;
	width: 60%;
	margin-left: 50px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.info {
	padding: 25px;
    font-size: 14px;
}

.userCredentials {
	width: 300px;
	margin-left: 50px;
	float: left;
	display: inline-block;
}

.dialectSelector {
	float: left;
	display: inline-block;
}

.connectButton {
	clear: left;
	padding-top: 30px;
	padding-left: 25px;
}

.step2Container {
	width: 800px;
	padding-top: 30px;
}

.step3Container {
	width: 800px;
	padding-top: 20px;
}

.step4Container {
	width: 800px;
	padding-top: 20px;
}

.futureDirections {
	padding-left: 25px;
}

.previewController {
	max-height: 500px;
	max-width: 100%;
	overflow-y: scroll;
    border: 1px solid #BEC8D9;
	border-radius: 3px;
	padding: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

.logContainer {
    max-height: 300px;
	margin-top: 40px;
}

.log {
	margin-bottom: 100px;
}
