.containerWrapper {
	width: 100%;
}

.container {
	width: 100%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.configurationOptions {
	width: 100%;
	text-align: center;
}

.workspace {
    height: 60%;
    width: 60%;
    padding: 30px;
    margin-left: 85px;
}

.info {
	padding: 25px;
    font-size: 14px;
}

.userCredentials {
	margin-left: auto;
	margin-right: auto;
}

.dialectSelector {
	display: inline-block;
}

.connectButton {
	padding-top: 30px;
	text-align: center;
}

.step2Container {
	width: 800px;
	padding-top: 30px;
}

.step3Container {
	width: 800px;
	padding-top: 20px;
}

.step4Container {
	width: 800px;
	padding-top: 20px;
}

.futureDirections {
	padding-left: 25px;
}

.previewController {
	max-height: 500px;
	max-width: 100%;
	overflow-y: scroll;
    border: 1px solid #BEC8D9;
	border-radius: 3px;
	padding: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

.logContainer {
    max-height: 300px;
	margin-top: 40px;
}

.log {
	margin-bottom: 100px;
}
