.sessionsManagerContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 800px;
    display: table;
    border-bottom-width: 1.5px;
    border-bottom-color: #BEC8D9;
    border-bottom-style: solid;
    border-radius: 5px;
}

.sessionsManagerWrapper {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.connectionWrapper {
    display: inherit;
    border-width: 1.5px 0px 0px 1.5px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 30px 5px 10px;
}

.connection {
    height: 20px;
}

.connectionAdd {
    display: inline-block;
    height: 20px;
    width: 20px;
    /*border-width: 1.5px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 23px;*/
}

.connectionAddWrapper {
    display: inline-block;
    border-width: 1.5px 1.5px 0px 1.5px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.connectionDelete {
    display: inline-block;
    position: relative;
    right: -27px;
    bottom: 10px;
    height: 12px;
    width: 12px;
    /*border-width: 1.5px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 23px;*/
}

.connectionWrapper:hover, connectionWrapper:focus{
    cursor: pointer;
    border-color: red;
}

.connectionAdd:hover, connection:focus{
    cursor: pointer;
}

.connectionDelete:hover, connection:focus{
    cursor: pointer;
}

.connectionWrapperSelected {
    border-width: 1.5px;
    border-color: red;
}
