.sessionsManagerContainer {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.sessionsManagerWrapper {
    display: inline-block;
    height: 60px;
    border-width: 1.5px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 25px;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
}

.connectionWrapper {
    display: inherit;
}

.connection {
    height: 46px;
    width: 80px;
    margin: 5px;
    border-width: 1.5px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 23px;
}

.connectionAdd {
    display: inline-block;
    height: 46px;
    width: 46px;
    margin: 5px;
    border-width: 1.5px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 23px;
}

.connectionDelete {
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 35px;
    height: 15px;
    width: 15px;
    border-width: 1.5px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 23px;
}

.connection:hover, connection:focus{
    cursor: pointer;
    border-color: red;
}

.connectionAdd:hover, connection:focus{
    cursor: pointer;
    border-color: red;
}

.connectionDelete:hover, connection:focus{
    cursor: pointer;
    border-color: red;
}

.connectionSelected {
    border-width: 1.5px;
    border-color: red;
    border-style: solid;
    border-radius: 23px;
}
