.sessionsManagerContainer {
    display: block;
    height: 50px;
    border-width: 1px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 25px;
    margin: 20px;
    text-align: center;
}

.connectionContainer {
    text-align: center;
}

.connection {
    display: inline-block;
    height: 46px;
    width: 80px;
    margin: 1px;
    border-width: 1px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 23px;
}

.connectionPlus {
    display: inline-block;
    height: 46px;
    width: 46px;
    margin: 1px;
    border-width: 1px;
    border-color: #BEC8D9;
    border-style: solid;
    border-radius: 23px;
}

.connection:hover, connection:focus{
    border-color: red;
}

.connectionPlus:hover, connection:focus{
    border-color: red;
}

.connectionSelected {
    border-width: 1px;
    border-color: red;
    border-style: solid;
    border-radius: 23px;
}

.connection:hover{
    cursor: pointer;
}
