/* SQL token highlighting */
.default .hljs-keyword,
.default .hljs-selector-tag {
    color: #ab63fa;
}

.default .hljs-number,
.default .hljs-meta,
.default .hljs-built_in,
.default .hljs-builtin-name,
.default .hljs-literal,
.default .hljs-type,
.default .hljs-params {
    color: #00cc96;
}

.default .hljs-string,
.default .hljs-symbol,
.default .hljs-bullet {
    color: #119DFF;
}

.default .hljs {
    color: #585260;
}

.bold .hljs-keyword,
.bold .hljs-selector-tag {
    font-weight: bold;
}

.scheduler pre {
    white-space: pre-wrap;
}

/* custom ReactDataGrid styles for scheduled queries table */
.scheduler-table .react-grid-Row--odd .react-grid-Cell {
    background: #fff;
}

.scheduler-table .react-grid-Row--odd:hover .react-grid-Cell {
    background-color: #f9f9f9;
}

/* fix horizontal overflow issues */
.scheduler-table .react-grid-Cell {
    box-sizing: border-box;
    border-right: none;
}

.scheduler-table .react-grid-Row {
    cursor: pointer;
}

.sql pre {
    margin: 0 auto;
    max-height: 100%;
}

.scheduler .CodeMirror {
    width: 100%;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis pre {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.meta-preview button {
    min-height: 21px;
}
