.connectButtonContainer {
    margin-top: 30px;
    border-top: thin lightgrey dashed;
    padding-top: 30px;
}

.errorMessage {
    color: red;
    height: 30px;
    padding-top: 10px;
}

.footer {
    padding-top: 10px;
}
