.logoContainer {
    margin: 20px;
    width: 600px;
    text-align: center;
}

.logo {
    display: inline-block;
    width: 90px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    border-color: #BEC8D9;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    vertical-align: middle;
}

.logoImage {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.logo:hover, .logoSelected {
    border-color: #8BB5FE;
    cursor: pointer;
    border-width: 4px;
    margin: 3px;
}

.dialectInput {
    display: inline-block;
}

.dialectLabel {
    display: inline-block;
}
