.openTab {
    background: rgb(251, 252, 253);
    border-bottom: 1px solid #c8dfe3;
    border-left: 1px solid #c8dfe3;
    border-radius: 0 0 6px 6px;
    border-right: 1px solid #c8dfe3;
}

.configurationContainer {
    font-family: 'Ubuntu';
    text-align: center;
    width: 100%;
}

.disabledSection {
    opacity: 0.4;
    pointer-events: none;
}

.info {
    font-size: 14px;
    padding: 25px;
}

.dialectSelector {
  margin-top: 32px;
}

.dialectSelector .Select {
  width: 56%;
  height: 40px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.editButtonContainer {
    margin: 20px 0;
}

.url {
    text-decoration: underline;
}
