.buttonPrimary {
    cursor: pointer;
    margin: 5px;
    width: 100px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: white;
    border-color: #8d98af;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.buttonSecondary {
    cursor: pointer;
    margin: 5px;
    width: 75px;
    font-size: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: white;
    border-color: #8d98af;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding-top: 10px;
}
