table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    border: 1px solid #828282;
    padding: 0.3125rem 0.625rem;
    color: #828282;
    font-size: 0.875em;
    font-family: monospace;
    text-align: left;
}

.tableHeader {
    font-family: monospace;
    color: #828282;
}
