.logo {
    display: inline-block;
    padding: 20px;
    width: 120px;
}

.logoImage {
    width: 100%;
}

.logo:hover, .logoSelected {
    cursor: pointer;
    border-bottom-width: 1px;
    border-bottom-color: #45A9FF;
    border-bottom-style: solid;
}

.inputContainer {
    width: 100%;
}

input {
    padding: 10px;
    border: none;
    border-bottom-width: 0.5px;
    border-bottom-color: #8d98af;
    border-bottom-style: solid;
    display: block;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 300px;
}

input:hover, input:focus {
    border-bottom-color: #45A9FF;

}

.buttonPrimary {
    cursor: pointer;
    margin: 5px;
    width: 100px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: white;
    border-color: #8d98af;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.buttonSecondary {
    cursor: pointer;
    margin: 5px;
    width: 75px;
    font-size: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: white;
    border-color: #8d98af;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding-top: 10px;
}
