.inputContainer {
    width: 100%;
}

input {
    padding: 10px;
    border: none;
    border-bottom-width: 0.5px;
    border-bottom-color: #8d98af;
    border-bottom-style: solid;
    display: block;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 300px;
}

input:hover, input:focus {
    border-bottom-color: #45A9FF;

}
