.inputContainer {
    width: 100%;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 10px;
    border: none;
    border-bottom-width: 0.5px;
    border-bottom-color: #8d98af;
    border-bottom-style: solid;
    display: table;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: left;
    /* width: 300px; */
}

input:hover, input:focus {
    border-bottom-color: #45A9FF;
}
