.inputContainer {
    padding-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input {
    display: inline-block !important;
    padding: 5px;
    border: none;
    border-bottom-width: 1px;
    border-bottom-color: #BEC8D9;
    border-bottom-style: solid;
    color: #6D6D6D;
    width: 400px;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 40px 0px 40px;
    text-align: left;
    height: 39px;
}


input:hover {
    border-bottom-color: #8BB5FE;
}

.inputNamesContainer {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.inputFieldsContainer {
    display: inline-block;
}

.inputName {
    text-transform: capitalize;
    padding: 5px;
    display: inline-block;
    text-align: right;
    margin: 10px 0px 0px 0px;
    height: 40px;
    width: 100%;
}

.documentationLink {
    display: inline-block !important;
    padding: 5px;
    text-transform: capitalize;
    /*color: #6D6D6D;*/
    width: 400px;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 40px 0px 40px;
    text-align: left;
    height: 30px;
}

.checkbox {
    margin-top: 1px;
    display: inline;
    vertical-align: middle;
    margin: 10px 20px 10px 10px;
    width: 20px;
}

.label {
    font: 16px BlinkMacSystemFont;
}

.options:hover {

}

.databaseOptionsContainer {
    text-align: left;
    padding-left: 40px;
    padding-top: 25px;
}

.databaseOptions {
    color: #6D6D6D;
    font-weight: 100;
    font-size: 18px;
}

.databaseOptions:hover {
    color: #8BB5FE;
}
