label {
    text-align: right;
    float: left;
    width: 35%;
    line-height: 40px;
    font-size: 16px;
}

.wrapInput {
    width: 65%;
    float: right;
}

input {
    border: none;
    border-bottom-width: 1px;
    border-bottom-color: #BEC8D9;
    border-bottom-style: solid;
    color: #6D6D6D;
    font-weight: 300;
    width: 56%;
    margin-left: 20px;
    float: left;
    font-size: 18px;
    height: 40px;
}

input:hover,input:focus {
    border-bottom-color: #8BB5FE;
    border-bottom-width: 2px;
    outline: none;
}

.inputContainer {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}

.description {
    font-size: 12px;
    text-align: left;
    margin-left: calc(35% + 20px);
    max-width: 35%;
}

.documentationLink {
    display: inline-block !important;
    padding: 5px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 40px 0px 40px;
    text-align: left;
    height: 30px;
    width: 80%;
}
