.buttonPrimary {
    background-color: white;
    border-color: #8d98af;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    color: #6D6D6D;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-transform: capitalize;
    width: 100px;

}

.buttonPrimary:hover {
    border-color: #8BB5FE
}

.errorMessage {
    color: red;
    height: 30px;
    padding-top: 10px;
}

.footer {
    padding-top: 10px;
}
